*{
  margin: 0;
  padding: 0;
}
#bar{
  height: 100px;
  background-color: rgb(18, 2, 76);
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  /* position: fixed; */
}
#name{
  color:white;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  font-size: 75px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color:linen;
}
.bar-buttons{
  color:white;
  height: auto;
  text-decoration: none;
  font-size:x-large;
}
#flights{
  margin-top: 30px;
}
#train{
  margin-top: 30px;
}
#help{
  margin-top: 30px;
  margin-left:100px;
}
#logo{
  display: flex;
  justify-content: flex-start;
}
#sign{
  color:white;
  height: 20px;
  text-decoration: none;
  font-size:large;
  margin-right: 10px;
  border: 2px solid white;
}
.btn {
  width: 180px;
  height: 50px;
  margin-top: 25px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: rgb(18, 2, 76);
  color: #fff;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #12024c;
  cursor: pointer;
}

.btn .icon {
  position: absolute;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.95);
}
#img1{
  width: 500px;
  height: 450px;
}
#img2{
  width: 800px;
  height: 450px;
  
  margin-top: 60px;
  margin-left: 700px;
  
}
#copyright{
  background-color: #12024c;
  height: 100px;
}
#foot{
  display: flex;
}
a{
  text-decoration: none;
}
.hot-deals{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 50%;
  width: 250px;
  gap: 25px;
}
.hot-deals > div{
  display: flex;
  width: 80%;
  height: 350px;
  aspect-ratio:  1/1;
  justify-content: center;
  align-items: center;
  object-fit:contain;
  background-color:rgba(234, 196, 213,0.8);
  transition: all ease 0.5s;
}
.hot-deals > div:hover{
  width: 120%;
  scale: 1.2;
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
border: 0 solid;
box-sizing: border-box;
}

.btn-53 {
-webkit-tap-highlight-color: transparent;
-webkit-appearance: button;
background-color: #000;
background-image: none;
color: #fff;
cursor: pointer;
font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
font-size: 100%;
line-height: 1.5;
margin: 0;
-webkit-mask-image: -webkit-radial-gradient(#000, #fff);
padding: 0;
}

.btn-53:disabled {
cursor: default;
}

.btn-53:-moz-focusring {
outline: auto;
}

.btn-53 svg {
display: block;
vertical-align: middle;
}

.btn-53 [hidden] {
display: none;
}

.btn-53 {
border: 1px solid;
border-radius: 999px;
box-sizing: border-box;
display: block;
font-weight: 900;
overflow: hidden;
padding: 1.2rem 3rem;
position: relative;
text-transform: uppercase;
}

.btn-53 .original {
background: #fff;
color: #000;
display: grid;
inset: 0;
place-content: center;
position: absolute;
transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
transform: translateY(100%);
}

.btn-53 .letters {
display: inline-flex;
}

.btn-53 span {
opacity: 0;
transform: translateY(-15px);
transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
transform: translateY(15px);
}

.btn-53:hover span {
opacity: 1;
transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
transition-delay: 0.5s;
}